```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.env
.env.*
.venv/
venv/
ENV/
.env.bak
.env.local
.env.dev
.env.test
.env.prod
.env.staging
.env.backup
.env.save
.env.old
.env~
.env.tmp
.env.swp
.env.swo
.env.lock
.env.pid
.env.log
.env.err
.env.out
.env.cache
.env.dbg
.env.debug
.env.profile
.env.trace
.env.stats
.env.metrics
.env.config
.env.settings
.env.vars
.env.variables
.env.properties
.env.props
.env.yml
.env.yaml
.env.json
.env.toml
.env.ini
.env.cfg
.env.conf
.env.xml
.env.html
.env.txt
.env.md
.env.rst
.env.pdf
.env.doc
.env.docx
.env.xls
.env.xlsx
.env.ppt
.env.pptx
.env.zip
.env.tar
.env.gz
.env.bz2
.env.xz
.env.7z
.env.rar
.env.exe
.env.dll
.env.so
.env.a
.env.obj
.env.class
.env.jar
.env.war
.env.ear
.env.apk
.env.ipa
.env.deb
.env.rpm
.env.msi
.env.dmg
.env.iso
.env.img
.env.vhd
.env.vmdk
.env.qcow2
.env.raw
.env.vdi
.env.vmd
.env.vmx
.env.vmxf
.env.vmsd
.env.vmsn
.env.vmss
.env.vmtm
.env.vmem
.env.vmem
.env.vswp
.env.vsan
.env.vminst
.env.vbox
.env.vbox-ver
.env.vbox-prev
.env.ovf
.env.ova
.env.vagrant
.env.docker
.env.kubernetes
.env.k8s
.env.minikube
.env.kind
.env.microk8s
.env.openshift
.env.okd
.env.rancher
.env.k3s
.env.k3d
.env.tilt
.env.skaffold
.env.helm
.env.terraform
.env.ansible
.env.puppet
.env.chef
.env.salt
.env.bash
.env.zsh
.env.fish
.env.tcsh
.env.csh
.env.ksh
.env.sh
.env.bat
.env.cmd
.env.ps1
.env.ps
.env.bash_history
.env.zsh_history
.env.history
.env.bashrc
.env.zshrc
.env.profile
.env.login
.env.logout
.env.inputrc
.env.editrc
.env.screenrc
.env.tmux.conf
.env.vimrc
.env.nvimrc
.env.emacs
.env.editorconfig
.env.gitconfig
.env.hgrc
.env.svn
.env.cvs
.env.mercurial
.env.bazaar
.env.fossil
.env.perforce
.env.clearcase
.env.rational
.env.teamprise
.env.visualsvn
.env.ankhsvn
.env.subversion
.env.git
.env.svn
.env.cvs
.env.mercurial
.env.bazaar
.env.fossil
.env.perforce
.env.clearcase
.env.rational
.env.teamprise
.env.visualsvn
.env.ankhsvn
.env.subversion
.env.DS_Store
.env.Thumbs.db
.env.desktop.ini
.env.ico
.env.png
.env.jpg
.env.jpeg
.env.gif
.env.bmp
.env.tiff
.env.tif
.env.svg
.env.webp
.env.avif
.env.jxl
.env.heic
.env.heif
.env.mp4
.env.avi
.env.mov
.env.wmv
.env.flv
.env.webm
.env.mkv
.env.mpg
.env.mpeg
.env.m2v
.env.3gp
.env.3g2
.env.mts
.env.m2ts
.env.ts
.env.vob
.env.evo
.env.asf
.env.rm
.env.rmvb
.env.qt
.env.divx
.env.xvid
.env.m4v
.env.svf
.env.mpe
.env.mpv
.env.mpa
.env.m1v
.env.m2v
.env.m4p
.env.m4b
.env.m4r
.env.m4v
.env.m4a
.env.mp3
.env.wav
.env.flac
.env.alac
.env.aac
.env.ogg
.env.wma
.env.mka
.env.mks
.env.mpc
.env.mpp
.env.aif
.env.aiff
.env.au
.env.snd
.env.mid
.env.midi
.env.rmi
.env.cda
.env.wv
.env.tta
.env.ape
.env.mac
.env.mpc
.env.mpp
.env.ofr
.env.oga
.env.spx
.env.opus
.env.dsf
.env.dff
.env.aax
.env.aa
.env.m4b
.env.m4r
.env.m4p
.env.m4v
.env.m4a
.env.3ga
.env.3gpa
.env.3gpp
.env.3gpp2
.env.adt
.env.adts
.env.amr
.env.awb
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec3
.env.ec......
```